body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'hoeflertext', georgia;
}

a {
    text-decoration: none;
    color: #44d;
}



.distortion {
    
}

section.controls {

    width: 20%;
    float: right;
    padding: 2em;
    margin-right: 4%;

    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;

    top: 0px;
    z-index: 10;
}

section.controls input {
    /*box-shadow: inset 0 0 8px  rgba(0,0,0,0.1),*/
                      /*0 0 16px rgba(0,0,0,0.1); */
    font-size: 1.1em;
    padding: 1em;
    background: rgba(255,255,255,0.5);
    width: 100%;
    border: none;
    border: solid 1px #DDD;
    margin: 1em 0;
    transition: all 0.5s ease;
}

label {
    display: block;
    border-bottom: solid #eee 2px;
    padding: 1em 0 1em 0;
}

input[type="checkbox"] {
    width: 20% !important;
    /*display: inline-block !important;*/
    border: solid red 1px !important;
}

section.controls input:focus, section.controls input:active {
    outline: none;
    border: solid #95D1B1 1px;
}


section.controls label {
    font-style: italic;
}

.distortion {
    /*margin: -1em 0 10em 0;*/
    position: absolute;
    /*clear: all;*/
    pointer-events: none;
}

.redux {

}
